.items {
    width: 200px;
    display: flex;
    flex-direction: column;
    /*세로 배치 */
    align-items: flex-start;
    /*가로 정렬*/
    row-gap: 4px; /*세로*/
    font-size: 1rem;
    
}

.items_image>img {
    width: 100%;
    border-radius: 7px;
}

.items_container {
    display: flex;
    flex-wrap: wrap;
    /*밑으로 내려가게끔*/
    flex-direction: row;
    /*가로 배치*/
    column-gap: 50px; /* 각 컨텐츠의 사이즈 */
    row-gap: 30px;
    max-width: 1000px;
    justify-content: center;
    
    

}
